@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.floating-image {
  animation: float var(--float-duration, 4s) ease-in-out infinite var(--float-delay, 0s);
}